<h1>Create A New User!</h1>

<%= bootstrap_form_for :user, url: '/users' do |f| %>
  <%= f.text_field :username %>
  <%= f.password_field :password %>
  <select class="form-control" name="group_id">
    <option value="">Please select</option>
    <% Group.all.each do |group| %>
      <option value="<%= group.id %>"><%= group.group_type %></option>
    <% end %>
  </select>
  <%= f.check_box :admin, {}, true, false %>
  <%= f.submit "Submit" %>
<% end %>
