<h1>Edit this Document</h1>

<div>
  <%= form_for @document, method: :put do |f|%>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.text_area :content, :class => 'document'%>
    <%= f.submit "Update" %>
  <% end %>
</div>

<%= link_to 'Back', 'javascript:history.go(-1);' %>
